@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    padding: theme('spacing.6');

    background-color: theme('backgroundColor.white');
    border-width: theme('borderWidth.2');
    border-color: currentColor;
    border-radius: theme('borderRadius.xl');
  }
}

@layer utilities {
  .bg-dots {
    background-image: radial-gradient(currentColor 1px, transparent 1px);
    background-size: 12px 12px;
  }
}
