@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    @apply bg-white border border-black border-opacity-20 rounded-xl p-6;
  }

  .card-heading {
    @apply font-display text-3xl mb-4 -mt-2 pb-2 border-b border-black border-opacity-20;
  }
}

@layer utilities {
  .bg-dots {
    background-image: radial-gradient(currentColor 1px, transparent 1px);
    background-size: 12px 12px;
  }

  .bg-blur {
    @apply absolute object-cover max-w-none blur-[30px];
    top: -15px;
    left: -15px;
    width: calc(100% + 30px);
    height: calc(100% + 30px);
  }
}
