@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*
  * Theme
  */
  :root {
    /* Color for app background */
    --col-background: 245 245 244;

    /* Color for surfaces */
    --col-surface: 255 255 255;

    /* Surface opacity ramp */
    --op-surface-opaque: 1;
    --op-surface-thick: 0.8;
    --op-surface-medium: 0.65;
    --op-surface-thin: 0.5;
    --op-surface-ultrathin: 0.35;

    /* Text colors */
    --col-text: 0 0 0;
    --col-text-light: 120 113 108;

    /* Theme colors */
    --col-primary: 14 216 88;
    --col-primary-high: 22 163 74;

    --col-danger: 220 38 38;
    --col-danger-high: 220 38 38;

    --col-neutral: 120 113 108;
    --col-neutral-high: 41 37 36;

    /* Theme colors opacity ramp */
    --op-1: 0.75;
    --op-2: 0.5;
    --op-3: 0.25;
    --op-4: 0.15;
    --op-5: 0.08;
    --op-6: 0.04;
  }

  /*
  * Defaults
  */
  *, ::before, ::after {
    /* Default border */
    border-color: theme('colors.neutral.5');
  }
}

@layer components {
  /*
  * Responsive container
  */
  .responsive {
    @apply w-full max-w-screen-lg mx-auto px-4 lg:px-8;
  }

  /*
  * Surface
  */
  /*#region*/
  .surface-opaque {
    background-color: theme('colors.surface' / var(--op-surface-opaque));
  }
  .surface-thick {
    @apply backdrop-blur-lg;
    background-color: theme('colors.surface' / var(--op-surface-thick));
  }
  .surface {
    @apply backdrop-blur-lg;
    background-color: theme('colors.surface' / var(--op-surface-medium));
  }
  .surface-thin {
    @apply backdrop-blur-lg;
    background-color: theme('colors.surface' / var(--op-surface-thin));
  }
  .surface-ultrathin {
    @apply backdrop-blur-lg;
    background-color: theme('colors.surface' / var(--op-surface-ultrathin));
  }
  /*#endregion*/

  /*
  * Card
  */
  /*#region*/
  .card {
    @apply bg-white rounded-xl p-6;
  }

  .card-heading {
    @apply flex flex-row items-center justify-between mb-6 -mt-1 pb-4;

    border-bottom: 1px solid theme('colors.black / 10%');
  }

  .card-heading > h2 {
    @apply font-display text-3xl;
  }
  /*#endregion*/

  /*
  * Button
  */
  /*#region*/
  .button {
    outline: 2px solid transparent;
    @apply rounded-md transition duration-200
      flex flex-row justify-center items-center
      focus-visible:outline-primary;

    gap: var(--btn-padding-base);
    padding: var(--btn-padding-base) calc(var(--btn-padding-base) * 2);

    color: var(--btn-text, var(--btn-color-high));
    background-color: var(--btn-bg, transparent);
    border-color: var(--btn-border, transparent);

    border-width: 1px;
    border-style: solid;

    --btn-color-base: theme(colors.primary.DEFAULT);
    --btn-color-high: theme(colors.primary.high);
    --btn-color-1: theme(colors.primary.1);
    --btn-color-2: theme(colors.primary.2);
    --btn-color-3: theme(colors.primary.3);
    --btn-color-4: theme(colors.primary.4);
    --btn-color-5: theme(colors.primary.5);
    --btn-color-border: theme(colors.primary.high / 10%);
  }

  .button:hover,
  .button:focus-visible {
    color: var(--btn-text-hover, var(--btn-text, var(--btn-color-high)));
    background-color: var(--btn-bg-hover, var(--btn-bg, transparent));
    border-color: var(--btn-border-hover, var(--btn-border, transparent));
  }

  .button:disabled {
    cursor: not-allowed;

    color: var(--btn-text-disabled, var(--btn-text, var(--btn-color-1)));
    background-color: var(--btn-bg-disabled, var(--btn-bg, white));
    border-color: var(--btn-border-disabled, var(--btn-border, transparent));
  }

  /* Loading button */
  .button[data-loading='true'] {
    cursor: wait;

    color: var(--btn-text, var(--btn-color-high));
    background-color: var(--btn-bg, white);
    border-color: var(--btn-border, transparent);
  }

  .button[data-loading=true] > :not(:first-child) {
    opacity: 0;
  }

  /* Button size variants */
  .button[data-variant-size='sm'] {
    @apply text-xs;

    --btn-padding-base: theme(spacing.1);
  }

  .button[data-variant-size='md'] {
    @apply text-sm;

    --btn-padding-base: theme(spacing[1.5]);
  }

  .button[data-variant-size='lg'] {
    @apply text-lg;

    --btn-padding-base: theme(spacing.3);
  }

  /* Button type variants */
  .button[data-variant-type='icon'] {
    padding: var(--btn-padding-base);
  }

  /* Button style variants */
  .button[data-variant-style='text'] {
    --btn-text: var(--btn-color-high);
    --btn-bg: transparent;

    --btn-bg-hover: var(--btn-color-5);

    --btn-text-disabled: theme(colors.neutral.DEFAULT);
    --btn-bg-disabled: theme(colors.neutral.5);
  }

  .button[data-variant-style='outlined'] {
    --btn-text: var(--btn-color-high);
    --btn-bg: transparent;
    --btn-border: var(--btn-color-border);

    --btn-bg-hover: var(--btn-color-5);

    --btn-text-disabled: theme(colors.neutral.DEFAULT);
    --btn-bg-disabled: theme(colors.neutral.5);
    --btn-border-disabled: theme(colors.black / 10%);
  }

  .button[data-variant-style='filled'] {
    --btn-text: var(--btn-color-high);
    --btn-bg: var(--btn-color-5);
    --btn-border: var(--btn-color-border);

    --btn-bg-hover: var(--btn-color-4);

    --btn-text-disabled: theme(colors.neutral.DEFAULT);
    --btn-bg-disabled: theme(colors.neutral.4);
    --btn-border-disabled: theme(colors.black / 10%);
  }

  .button[data-variant-style='heavy'] {
    --btn-text: theme(colors.white);
    --btn-bg: var(--btn-color-base);
    --btn-border: var(--btn-color-border);

    --btn-bg-hover: var(--btn-color-1);

    --btn-text-disabled: theme(colors.white / 50%);
    --btn-bg-disabled: theme(colors.neutral.1);
    --btn-border-disabled: theme(colors.black / 20%);
  }

  /* Button color variants */
  /* .button[data-variant-color='warning'] {
    --btn-color-50: theme(colors.amber.50);
    --btn-color-100: theme(colors.amber.100);
    --btn-color-200: theme(colors.amber.200);
    --btn-color-300: theme(colors.amber.300);
    --btn-color-400: theme(colors.amber.400);
    --btn-color-500: theme(colors.amber.500);
    --btn-color-600: theme(colors.amber.600);
    --btn-color-700: theme(colors.amber.700);
    --btn-color-800: theme(colors.amber.800);
    --btn-color-900: theme(colors.amber.900);
    --btn-color-950: theme(colors.amber.950);
    --btn-color-contrast: theme(colors.white);
    --btn-color-border: theme(colors.amber.800 / 20%);
  } */

  .button[data-variant-color='danger'] {
    --btn-color-base: theme(colors.danger.DEFAULT);
    --btn-color-high: theme(colors.danger.high);
    --btn-color-1: theme(colors.danger.1);
    --btn-color-2: theme(colors.danger.2);
    --btn-color-3: theme(colors.danger.3);
    --btn-color-4: theme(colors.danger.4);
    --btn-color-5: theme(colors.danger.5);
    --btn-color-border: theme(colors.danger.high / 10%);
  }

  .button[data-variant-color='neutral'] {
    --btn-color-base: theme(colors.neutral.DEFAULT);
    --btn-color-high: theme(colors.neutral.high);
    --btn-color-1: theme(colors.neutral.1);
    --btn-color-2: theme(colors.neutral.2);
    --btn-color-3: theme(colors.neutral.3);
    --btn-color-4: theme(colors.neutral.4);
    --btn-color-5: theme(colors.neutral.5);
    --btn-color-border: theme(colors.neutral.high / 10%);
  }
  /*#endregion*/

  /*
  * Input
  */
  /*#region*/
  .input {
    @apply text-sm rounded-md px-2 py-1.5 outline-none outline-offset-0 transition;

    background-color: theme('colors.neutral.6');
    border: 1px solid theme('colors.neutral.5');
  }

  .input:focus-visible {
    background-color: theme('colors.primary.5');
    border: 1px solid theme('colors.primary.DEFAULT');
  }

  .input:disabled {
    cursor: not-allowed;

    color: theme('colors.neutral.DEFAULT');
    background-color: theme('colors.neutral.5');
  }

  .input[aria-invalid] {
    background-color: theme('colors.danger.5');
    border: 1px solid theme('colors.danger.DEFAULT');
  }
  /*#endregion*/

  /*
  * Radio button
  */
  /*#region*/
  .radio-group {
    @apply flex flex-col gap-2;
  }

  .radio-item {
    @apply flex flex-row items-center p-1 rounded-md;
  }

  .radio {
    @apply w-5 h-5 flex justify-center items-center rounded-full;

    background-color: theme('colors.white / 20%');
    border: 1px solid theme('colors.neutral.2');
  }

  .radio[data-state="checked"] {
    background-color: theme('colors.primary.5');
    border-color: theme('colors.primary.DEFAULT');
  }

  .radio-indicator {
    @apply w-2 h-2 rounded-full;

    background-color: theme('colors.primary.DEFAULT');
  }

  .radio-label {
    @apply flex-1 cursor-pointer pl-2;
  }
  /*#endregion*/
}

@layer utilities {
  .bg-dots {
    background-image: radial-gradient(currentColor 1px, transparent 1px);
    background-size: 12px 12px;
  }

  .bg-stripes {
    background-image: repeating-linear-gradient(
      45deg,
      transparent,
      transparent 1rem,
      currentColor 1rem,
      currentColor calc(2 * 1rem)
    );
  }

  .bg-blur {
    @apply absolute object-cover max-w-none blur-[30px];
    top: -15px;
    left: -15px;
    width: calc(100% + 30px);
    height: calc(100% + 30px);
  }

  .hide-scrollbars {
    scrollbar-width: none;
  }

  .hide-scrollbars::-webkit-scrollbar {
    background: transparent;
    width: 0px;
  }
}
